@model CrossNtErp.Web.Areas.Finances.Models.TaxRateViewModel

@{
    ViewBag.Title = Localization.Details;
}

<h2>@Localization.Details</h2>

<div>
    <h4>@Localization.TaxRate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Category)</dt>
        <dd>@Html.DisplayFor(model => model.Category)</dd>

        <dt>@Html.DisplayNameFor(model => model.Value)</dt>
        <dd>@Html.DisplayFor(model => model.Value)</dd>

        <dt>@Html.DisplayNameFor(model => model.Description)</dt>
        <dd>@Html.DisplayFor(model => model.Description)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink(Localization.BackToIndex, "Index") | @Html.ActionLink(Localization.Edit, "Edit", new { id = Model.Id })    
</p>

@section Subnav {
    @{ Html.RenderPartial("_AreaNavigation"); }
}
