<!DOCTYPE html>
<html lang="@ViewBag.Language">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Cross NT ERP</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryui-css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(Localization.ApplicationTitle, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(Localization.Contact, "Contact", "Home", new { area = "" }, null)</li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">@Localization.Language <b class="caret"></b></a>
                        <ul class="dropdown-menu language-selector">
                            <li>
                                <a href="/Home/SetCulture/?culture=en">
                                    <img class="language-image" src="~/Resources/en-GB_100px.png" />
                                    @Localization.English
                                </a>
                            </li>
                            <li>
                                <a href="/Home/SetCulture/?culture=de">
                                    <img class="language-image" src="~/Resources/de-DE_100px.png" />
                                    @Localization.German
                                </a>
                            </li>
                        </ul>
                    </li>
                    @RenderSection("subnav", required: false)
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr style="margin-top: 50px;"/>
        <footer>
            <p>&copy; @DateTime.Now.Year - @Localization.ApplicationTitle</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
